*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    
    
    }

    body{
       
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-image: url(img/karim-manjra-w8ta246CwIs-unsplash.jpg);
background-size: cover;
    }
    .banner-area{

background-color:transparent;
        width: 100%;
        height: 100vh;
        background:
        url(img/alex-vasey-zMbxBDg4qBc-unsplash.jpg);
        background-size: cover;
        box-shadow: 2px 2px 6px 0;
    }
    .content{
        text-align: center;
        margin-bottom: 50%;
    }
    .content h1{
color: black;
        font-size: 80px;
    }
    .content p{
        color:black;
                font-size: 30px;
            }
            .container1{
                width: 70%;
                margin: 50px auto;
                padding: 10px;
            }
            .container1 .box{
                width: 50%;
                margin: 50px ;
                margin-top: 50px;
                border-radius: 30px;
              
                background-color: white;
                box-shadow: 12PX 12PX 12PX white;
            
                padding: 10px;
                float: right;
            }

            .container2{
                width: 70%;
                margin: 50px auto;
                padding: 10px;
            }
            .container2 .box{
                width: 50%;
                float: left;
                margin: 50px ;
                margin-top: 50px;
                border-radius: 10px;
                background-color: white;
                box-shadow: 12PX 12PX 12PX white;
                padding: 10px;
            }

video{
    px;
}
but {
    
    transition: 0.5s;
    text-transform: uppercase;
    border: 100px solid ;
    background-color: black;
    border-width: 100px;
  height: 50px;
    border: 1px solid black;
    margin: 100px;
   float: right;
    border-radius: 100px;
    color: black;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
  
    text-align: center;
  }
  .but:hover{
  
    box-shadow: 0 3px 40px 0 white inset, 0 5px 40px 0 black,
}

b